@model DemoApplication.Models.ViewModels.UserViewModel
@{
    Layout = "_Layout";
}

<div class="alert alert-success">
    <h1>Спасибо, @Model.FullName, за регистрацию!</h1>
    <a class="nav-link" asp-action="ListUser">Посмотреть зарегистрировавшихся</a>
</div>